$primary-color: #1890ff;
$link-color: #1890ff;
$border-radius-base: 4px;
$title-back-color: #030829;
$content-back-color: #081832;

$text-color: #fff;

$card-primary-color:#11376b;
$card-background-color:#0e1e3f;